html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  height: 100%;
  background-color: #5dcae7;
  display: flex;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: column
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }
}

.container {
  width: 69%;
  height: 80%;
  background-color: beige;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.title {
  width: 69%;
  color: #fa5a02;
  background-color: orange;
  flex: 1;
  display: flex;
  font-size:  min(5vw, 50px);
  font-family: 'Bungee', Courier, monospace;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1.5em;
  justify-content: center;
  align-items: center;
}

.fudge {
  background-color: tan;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  height: 50%;
}

::placeholder {
  color: #fa5a02;
  font-family: 'Courier New', Courier, monospace;
  font-size: 300%;
  font-weight: 1000;
}

.button {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 34% 33% 33%;
}

.duck {
  font-family: 'Courier New', Courier, monospace;
  font-size: 300%;
  font-weight: 1000;
  color: #fa5a02;
  background-color: #5dcae7;
  border: none;
  border: 1px solid;
  border-color: gray;
}